@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: 'Courier Prime', monospace;
}

.App {
  padding: 4rem;
  display: grid;
  row-gap: 4rem;
}

@media screen and (min-width: 992px) {
  .App {
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}

.input {
  border-color: transparent;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  min-height: 30vh;
  padding: 1rem 2rem;
}
